extends ../layouts/layout.pug

block content
  .row.mt-3
     .col-sm-6.mx-auto
       h3.text-xs-center Edit
       +formFor(f, { url: urlFor('tasks', f.object.id), method: 'patch' })
         +input(f, 'name')
         +input(f, 'description')
         +input(f, 'status')
         +input(f, 'creator')
         +input(f, 'assignedTo')
         +input(f, 'tags')
         +button(f)
