extends ../layouts/layout.pug

block content
  .row.mt-3
    .col-sm-6.mx-auto
      h3.text-xs-center New task
      +formFor(f, { url: urlFor('tasks'), method: 'post' })
        +input(f, 'name')
        +textarea(f, 'description')
        +select(f, 'status', ['New', 'On the go', 'Testing', 'Done'])
        +select(f, 'assignedTo', users)
        +input(f, 'tags')
        +button(f)
