doctype html
html(lang="en")
  head
    title= Title
    script(src='/assets/application.js')
  body
    nav.navbar.navbar-light.bg-faded
      a.navbar-brand(href="/") Main Page
      ul.nav.navbar-nav.float-xs-right
      li.nav-item
        a.nav-link(href="/users") Users
      if isSignedIn()
        form.form-inline.float-xs-right(action='/sessions?_method=DELETE' method='post')
          button.btn.btn-link(type='submit') Sign out
      else
        li.nav-item
          a.nav-link(href="/sessions/new") Sign in
          li.nav-item
            a.nav-link(href="/users/new") Sign up
    .container
      - const msg = flash.get()
      if msg
        .alert.alert-info.m-3= msg
      block content
