.row.form-group
  .col-sm
    label.col-form-label
      | FirstName
      sup *
    input.form-control(name='firstName' value=form.firstName placeholder='yourfirstName')
.row.form-group
  .col-sm
    label.col-form-label
      | LastName
      sup *
    input.form-control(name='lastName' value=form.lastName placeholder='yourlastName')
.row.form-group
  .col-sm
    label.col-form-label
      | Email
      sup *
    input.form-control(name='email' value=form.email placeholder='youremail@mail.com')
.row.form-group
  .col-sm
    label.col-form-label
      | Password
      sup *
    input.form-control(name='password' value=form.password placeholder='password')
.form-group
  button.btn.btn-primary.btn-block(type='submit') Save
