extends ../layouts/layout.pug

block content
  .row.mt-3
    .col-sm-6.mx-auto
      h3.text-xs-center Edit
      +formFor(f, { url: urlFor('usersPatch', f.object.id), method: 'patch' })
        +input(f, 'email')
        +input(f, 'firstName')
        +input(f, 'lastName')
        +input(f, 'password', { as: 'password' })
        +button(f, 'submit', 'Update')
