extends ../layouts/layout.pug

block content
  if users.length > 0
      table.table
        tr
          th FirstName
          th Actions
        for user in users
          tr
            td
              a(href=`/users/${user.id}`)= user.firstName
            td
              if signedId == user.id 
                a(href=`/users/${user.id}/edit`) Edit
                form(data-confirm=`Are you sure you want to delete ${user.firstName}?`).form-inline.d-inline-block(action=`/users/${user.id}?_method=DELETE` method='post')
                  button.btn-link(type='submit') Delete
  else
    p No any user...
