extends ../layouts/layout.pug

block content
  .row.mt-3
    .col-sm-6.mx-auto
      h3.text-xs-center New user
      +formFor(f, { url: urlFor('users'), method: 'post' })
        +input(f, 'email')
        +input(f, 'firstName')
        +input(f, 'lastName')
        +input(f, 'password', { as: 'password' })
        +button(f)
